# Using data from FAO
## Food and Agriculture Organization of the United Nations
Tracks the state of food security and sustainability in the world

### Data selected

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = './FAOSTAT_data_en_5-30-2023.csv'
data = pd.read_csv(path)
data.iloc[1:5,]

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
1,GT,Emissions totals,36,Australia,7273,Emissions (CO2),67292,Drained organic soils (CO2),2001,2001,3050,FAO TIER 1,kilotonnes,2891.1045,E,Estimated value,NaN
2,GT,Emissions totals,36,Australia,7273,Emissions (CO2),67292,Drained organic soils (CO2),2002,2002,3050,FAO TIER 1,kilotonnes,2886.2596,E,Estimated value,NaN
3,GT,Emissions totals,36,Australia,7273,Emissions (CO2),67292,Drained organic soils (CO2),2003,2003,3050,FAO TIER 1,kilotonnes,2881.4786,E,Estimated value,NaN
4,GT,Emissions totals,36,Australia,7273,Emissions (CO2),67292,Drained organic soils (CO2),2004,2004,3050,FAO TIER 1,kilotonnes,2872.1954,E,Estimated value,NaN

### Data explanation
- The data c